<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <img style="width: 30vw;" src="assets/imgs/cs-logo-negative.png" alt="">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="current-amount">
    <ion-card-header>
      Current Amount
    </ion-card-header>
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row justify-content-end *ngFor="let item of mainWallet.getValue()">
          <ion-col>{{item.currency}}</ion-col>
          <ion-col text-right>{{item.amount}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid padding>
    <ion-row justify-content-end>
      <ion-col align-self-center class="pending-title no-padding-b">Pending Amount</ion-col>
      <ion-col text-right>
        <button>
          <ion-icon name="add-circle" (click)="addPendingAmount()"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let wallet of wallets.getValue()">
    <ion-card-header>
      {{wallet.currency}}
    </ion-card-header>
    <ion-card-content>
      <ion-grid no-padding>
          <ion-row justify-content-end class="row-border-b list-balance">
          <ion-col>Balance</ion-col>
          <ion-col text-right>{{wallet.amount}}</ion-col>
        </ion-row>

        <ion-row class="row-border-b" *ngFor="let pending of wallet.pending">
          <ion-col>
              <ion-row justify-content-end class="list-head">
                  <ion-col>Currency</ion-col>
                  <ion-col text-center>Amount</ion-col>
                  <ion-col text-right>Date</ion-col>
              </ion-row>
              <ion-row justify-content-end  class="list-content">
                  <ion-col>{{pending.currency_to}}</ion-col>
                  <ion-col text-center>{{pending.amount.toFixed(2)}}</ion-col>
                  <ion-col text-right>{{pending.until | date:'shortDate'}}</ion-col>
              </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

