<ion-content padding>
  <ion-grid style="height: 100%;">
    <ion-col>
      <ion-row>
        <img style="height: 15vh;margin-top: 15vh;" src="assets/imgs/cs-logo.png" alt="The logo of Credit Suisse Group AG">
      </ion-row>
      <ion-row *ngIf="this.error">
          <ion-col padding margin class="login-failed">
            Login failed:<br />
            Please check your Login information
          </ion-col>
      </ion-row>
      <form novalidate [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                <ion-input placeholder="Username"
                           formControlName="username"
                           type="text"></ion-input>
                <div *ngIf="loginForm.controls['username'].getError('error')">
                  Username or Password wrong
                </div>
              </ion-item>
              <ion-item>
                <ion-input placeholder="Password"
                           formControlName="password"
                           type="password"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button class="submit-btn"
                    full
                    type="submit"
                    [disabled]="!loginForm.valid">
              Login
            </button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-grid>
</ion-content>
